.click{
    border: 2px solid black;
    border-radius: 20%;
    font-size: 20px;
    font-weight: 600;
    margin: 5px;
    width: 90%;
    font-size: 20px;
    background-color: rgb(126, 114, 235);
}
.reiniciar{
    border: 2px solid black;
    border-radius: 20%;
    font-size: 20px;
    font-weight: 600;
    margin: 4px;
    width: 90%;
    font-size: 20px;
    background-color: rgb(235, 114, 114);
}